body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #08051f;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
@font-face {
	font-family: Frutiger;
	src: url(./assets/fonts/frutiger-cufonfonts-webfont/Frutiger.woff);
}

@font-face {
	font-family: Frutiger-bold;
	src: url(./assets/fonts/frutiger-cufonfonts-webfont/Frutiger_bold.woff);
}

* {
	font-family: Frutiger;
}

.text-fruBold {
	font-family: Frutiger-bold;
}

.text-fru {
	font-family: Frutiger-bold;
}

/* * {
	border: 1px solid #f00;
} */
